.Footer {
    position: absolute;
    width: 100%;
    z-index: 10;
    background: none;
}

.Footer a {
    color: black;
    font-weight: 600;
}
#footerText {
    position: absolute;

    height: 20px;
}
.Footer svg{
    position: absolute;
    bottom: -40px;
    left: 0;
}

#bottomWave {
    position: absolute;
    transform: rotateX(0deg);

    left: 0;
    z-index: -100;

}